<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="flex justify-between items-center mb-4">
    <%= link_to "â† Back to Posts", posts_path, class: "text-indigo-600 hover:text-indigo-500 mb-6 inline-block" %>
    <%= link_to "Map", map_path, class: "text-indigo-600 hover:text-indigo-500", data: { turbo_frame: "_top" } %>
  </div>

  <%= turbo_frame_tag dom_id(@post) do %>
    <%= render "post", post: @post %>

    <div class="pt-6 border-t border-gray-200">
      <div id="flash" class="p-4 text-green-500"></div>
      <%= render "comments/list", post: @post %>
    </div>
  <% end %>
</div>
