<!DOCTYPE html>
<html>
  <head>
    <title>Ancient History Chronicles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    
    <nav class="bg-white shadow-sm flex justify-between items-center px-4 py-2">
      <a href="/">Real Ancient History</a>
      <div class="flex items-center space-x-4">
        <% if Current.user %>
          <%= button_to "Logout", session_path, method: :delete, class: "text-gray-500 hover:text-gray-900" %>
        <% else %>
          <%= link_to "Login", new_session_path, class: "text-gray-500 hover:text-gray-900" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
